<!-- JAVASCRIPT FILES ========================================= -->
<script src="<%= process.env.GERGI_HOSTNAME %>assets/js/jquery.min.js"></script><!-- JQUERY MIN JS -->
<script src="<%= process.env.GERGI_HOSTNAME %>assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- BOOTSTRAP MIN JS -->
<script src="<%= process.env.GERGI_HOSTNAME %>assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<!-- BOOTSTRAP SELECT MIN JS -->
<script src="<%= process.env.GERGI_HOSTNAME %>assets/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
<script src="<%= process.env.GERGI_HOSTNAME %>assets/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
<script src="<%= process.env.GERGI_HOSTNAME %>assets/vendor/wow/wow.min.js"></script><!-- WOW JS -->
<script src="<%= process.env.GERGI_HOSTNAME %>assets/vendor/swiper/swiper-bundle.min.js"></script><!-- SWIPER JS -->
<script src="<%= process.env.GERGI_HOSTNAME %>assets/js/dz.carousel.js"></script><!-- DZ CAROUSEL JS -->
<script src="<%= process.env.GERGI_HOSTNAME %>assets/js/dz.ajax.js"></script><!-- AJAX -->
<script src="<%= process.env.GERGI_HOSTNAME %>assets/js/custom.js"></script><!-- CUSTOM JS -->

</body>

</html>