<%- include('../includes/head/head.ejs') %>
    <%- include('../includes/header/header.ejs') %>

        <div class="page-content bg-white">

            <!--Swiper Banner Start -->
            <div class="banner-one">
                <div class="container">
                    <div class="banner-inner">
                        <div class="row align-items-center">
                            <div class="col-md-6 order-md-1 order-2">
                                <div class="dz-media move-box wow fadeIn" data-wow-duration="1.6s" data-wow-delay="0.8s"
                                    style="visibility: visible; animation-duration: 1.6s; animation-delay: 0.8s; animation-name: fadeIn;">
                                    <img src="<%= process.env.GERGI_HOSTNAME %>assets/images/banner/banner-media6.png"
                                        alt="media">

                                </div>
                            </div>
                            <div class="col-md-6 order-md-2 order-1 m-b30">
                                <div class="banner-content">
                                    <h1 class="title max-w800">Books Should Be Free. <br>
                                        <span class="text-primary">We Make It Happen!</span>
                                    </h1>
                                    <p class="text m-b40">Discover a tool that locates paid books online and shows you where to access or download them for free. Save money, read more.</p>

                                    <div class="data-box">
                                        <div class="counter-box">
                                            <h2 class="title"><span class="box-icon"><svg width="32" height="32"
                                                        viewBox="0 0 32 32" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M23.4667 19.4668C23.4667 23.4668 20.1333 26.6668 16 26.6668C15.3333 26.6668 14.6667 26.5334 14 26.4001C17.2 25.6001 19.4667 22.8001 19.4667 19.4668C19.4667 19.0668 19.4667 18.6668 19.3333 18.2668C20 18.1334 20.6667 18.0001 21.3333 17.7334C22 17.4668 22.5333 17.0668 22.8 16.5334C23.2 17.4668 23.4667 18.4001 23.4667 19.4668Z"
                                                            fill="#FEDE8A" />
                                                        <path
                                                            d="M23.4667 19.4668C23.4667 23.4668 20.1333 26.6668 16 26.6668C11.8667 26.6668 8.53334 23.4668 8.53334 19.4668C8.53334 18.4001 8.80001 17.4668 9.20001 16.5334C9.46668 17.0668 10 17.6001 10.6667 17.7334C12.4 18.2668 14.2667 18.5334 16 18.5334C17.7333 18.5334 19.6 18.2668 21.3333 17.7334C22 17.4668 22.5333 17.0668 22.8 16.5334C23.2 17.4668 23.4667 18.4001 23.4667 19.4668Z"
                                                            stroke="#EAA451" stroke-width="2" stroke-miterlimit="10"
                                                            stroke-linecap="round" stroke-linejoin="round" />
                                                        <path
                                                            d="M26.2667 9.3333L24.2667 10.4L23.0667 10.9333L18.6667 12.6666L16.2667 13.6C16.1333 13.7333 15.8667 13.7333 15.6 13.6L13.3333 12.6666L8.93333 10.8L7.73333 10.2666L5.73333 9.3333C5.2 9.06663 5.2 8.39997 5.73333 8.1333L15.7333 3.7333C15.8667 3.59997 16.1333 3.59997 16.4 3.7333L26.4 8.1333C26.8 8.39997 26.8 9.06663 26.2667 9.3333Z"
                                                            stroke="#EAA451" stroke-width="2" stroke-miterlimit="10"
                                                            stroke-linejoin="round" />
                                                        <path
                                                            d="M23.0667 10.8V15.4667C23.0667 15.8667 22.9333 16.2667 22.8 16.5334C22.5333 17.0667 22 17.6 21.3333 17.7334C19.6 18.2667 17.7333 18.5334 16 18.5334C15.3333 18.5334 14.5333 18.5334 13.8667 18.4C14.9333 18.2667 16 18 16.9333 17.7334C17.6 17.4667 18.1333 17.0667 18.4 16.5334C18.5333 16.1334 18.6667 15.8667 18.6667 15.4667V12.6667L23.0667 10.8Z"
                                                            fill="#FEDE8A" />
                                                        <path
                                                            d="M23.0667 10.8V15.4667C23.0667 15.8667 22.9333 16.2667 22.8 16.5334C22.5333 17.0667 22 17.6 21.3333 17.7334C19.6 18.2667 17.7333 18.5334 16 18.5334C14.2667 18.5334 12.4 18.2667 10.6667 17.7334C10 17.4667 9.46667 17.0667 9.20001 16.5334C9.06667 16.1334 8.93334 15.8667 8.93334 15.4667V10.8L13.3333 12.6667L15.7333 13.6C15.8667 13.7334 16.1333 13.7334 16.4 13.6L18.6667 12.6667L23.0667 10.8Z"
                                                            stroke="#EAA451" stroke-width="2" stroke-miterlimit="10"
                                                            stroke-linejoin="round" />
                                                        <path d="M26.6667 8.66675V14.9334" stroke="#EAA451"
                                                            stroke-width="2" stroke-miterlimit="10"
                                                            stroke-linecap="round" stroke-linejoin="round" />
                                                    </svg></span><span class="counter">25 </span> <span
                                                    class="ms-2">Tutors</span></h2>
                                        </div>
                                        <div class="counter-box">
                                            <h2 class="title"><span class="box-icon"><svg width="32" height="32"
                                                        viewBox="0 0 32 32" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M27.6 13.3333L25.3333 14.5333L24 15.0666L16.4 18.3999C16.1333 18.5333 15.8667 18.5333 15.7333 18.3999L8 15.0666L6.66667 14.5333L4.4 13.3333C3.86667 13.0666 3.86667 12.2666 4.4 11.9999L15.6 6.93325C15.8667 6.79992 16.1333 6.79992 16.2667 6.93325L27.6 11.9999C28.1333 12.2666 28.1333 13.0666 27.6 13.3333Z"
                                                            stroke="#EAA451" stroke-width="2" stroke-miterlimit="10"
                                                            stroke-linejoin="round" />
                                                        <path
                                                            d="M24 15.0667V20.5333C24 21.7333 23.2 22.9333 22 23.2C20 23.8666 18 24.1333 16 24.1333C15.3333 24.1333 14.6667 24.1333 14 24C15.3333 23.8667 16.6667 23.6 18 23.0666C19.2 22.6666 20 21.6 20 20.4V16.6667L24 15.0667Z"
                                                            fill="#FEDE8A" />
                                                        <path
                                                            d="M24 15.0667V20.5333C24 21.7333 23.2 22.9333 22 23.2C20 23.8666 18 24.1333 16 24.1333C14 24.1333 11.8667 24 10 23.3333C8.8 22.9333 8 21.8667 8 20.6667V15.2L15.6 18.5333C15.8667 18.6666 16.1333 18.6666 16.2667 18.5333L24 15.0667Z"
                                                            stroke="#EAA451" stroke-width="2" stroke-miterlimit="10"
                                                            stroke-linejoin="round" />
                                                        <path d="M28 12.6667V20.0001" stroke="#EAA451" stroke-width="2"
                                                            stroke-miterlimit="10" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                    </svg></span><span class="counter">1</span>k<span>+</span> <span
                                                    class="ms-2">Students</span></h2>
                                        </div>
                                        <div class="counter-box mb-0">
                                            <h2 class="title"><span class="box-icon"><svg width="32" height="32"
                                                        viewBox="0 0 32 32" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M20.4 24.0001C20.5333 24.0001 20.5333 24.0001 20.4 24.0001C20.8 23.8668 21.0667 23.7334 21.2 23.4668C21.6 23.0668 22 22.9334 22.5333 22.9334H22.6667C23.6 22.9334 24.4 22.2668 24.5333 21.3334C24.5333 21.2001 24.5333 21.2001 24.5333 21.0668V20.9334C24.5333 20.4001 24.6667 20.0001 25.0667 19.6001C25.4667 19.2001 25.6 18.8001 25.6 18.2668C25.6 17.8668 25.4667 17.3334 25.0667 16.9334C24.6667 16.5334 24.5333 16.1334 24.5333 15.6001V15.4668C24.5333 14.4001 23.7333 13.6001 22.6667 13.6001C22.1333 13.6001 21.7333 13.3334 21.3333 13.0668C20.9333 12.6668 20.5333 12.5334 20 12.5334C19.4667 12.5334 19.0667 12.6668 18.6667 13.0668C18.2667 13.4668 17.8667 13.6001 17.3333 13.6001H17.2C16.1333 13.6001 15.3333 14.4001 15.3333 15.4668V15.6001C15.3333 16.1334 15.2 16.5334 14.8 16.9334C14.4 17.3334 14.2667 17.7334 14.2667 18.2668C14.2667 18.8001 14.4 19.2001 14.8 19.6001C15.2 20.0001 15.3333 20.4001 15.3333 20.9334V21.0668C15.3333 21.2001 15.3333 21.2001 15.3333 21.3334C15.4667 22.2668 16.2667 22.9334 17.2 22.9334H17.3333C17.8667 22.9334 18.2667 23.0668 18.6667 23.4668C18.9333 23.7334 19.2 23.8668 19.4667 24.0001"
                                                            fill="#FEDE8A" />
                                                        <path
                                                            d="M20.4 24.0001C20.5333 24.0001 20.5333 24.0001 20.4 24.0001C20.8 23.8668 21.0667 23.7334 21.2 23.4668C21.6 23.0668 22 22.9334 22.5333 22.9334H22.6667C23.6 22.9334 24.4 22.2668 24.5333 21.3334C24.5333 21.2001 24.5333 21.2001 24.5333 21.0668V20.9334C24.5333 20.4001 24.6667 20.0001 25.0667 19.6001C25.4667 19.2001 25.6 18.8001 25.6 18.2668C25.6 17.8668 25.4667 17.3334 25.0667 16.9334C24.6667 16.5334 24.5333 16.1334 24.5333 15.6001V15.4668C24.5333 14.4001 23.7333 13.6001 22.6667 13.6001C22.1333 13.6001 21.7333 13.3334 21.3333 13.0668C20.9333 12.6668 20.5333 12.5334 20 12.5334C19.4667 12.5334 19.0667 12.6668 18.6667 13.0668C18.2667 13.4668 17.8667 13.6001 17.3333 13.6001H17.2C16.1333 13.6001 15.3333 14.4001 15.3333 15.4668V15.6001C15.3333 16.1334 15.2 16.5334 14.8 16.9334C14.4 17.3334 14.2667 17.7334 14.2667 18.2668C14.2667 18.8001 14.4 19.2001 14.8 19.6001C15.2 20.0001 15.3333 20.4001 15.3333 20.9334V21.0668C15.3333 21.2001 15.3333 21.2001 15.3333 21.3334C15.4667 22.2668 16.2667 22.9334 17.2 22.9334H17.3333C17.8667 22.9334 18.2667 23.0668 18.6667 23.4668C18.9333 23.7334 19.2 23.8668 19.4667 24.0001"
                                                            stroke="#EAA451" stroke-width="2" stroke-miterlimit="10"
                                                            stroke-linecap="round" stroke-linejoin="round" />
                                                        <path
                                                            d="M19.6 23.9999C19.4667 23.9999 19.4667 23.9999 19.6 23.9999L20 24.6666L24 28.6666L24.6667 25.3333L28 24.6666L26.6667 23.3333L24.6667 21.3333C24.5333 22.2666 23.7333 22.9333 22.8 22.9333H22.6667C22.1333 22.9333 21.7333 23.0666 21.3333 23.4666C21.0667 23.7333 20.8 23.8666 20.5333 23.9999"
                                                            stroke="#EAA451" stroke-width="2" stroke-miterlimit="10"
                                                            stroke-linecap="round" stroke-linejoin="round" />
                                                        <path
                                                            d="M19.6 23.9999C19.4667 23.9999 19.4667 23.9999 19.6 23.9999C19.2 23.8666 18.9333 23.7333 18.8 23.4666C18.4 23.0666 18 22.9333 17.4667 22.9333H17.3333C16.4 22.9333 15.6 22.2666 15.4667 21.3333L12.8 23.9999L12 24.6666L15.3333 25.3333L16 28.6666L20 24.6666L20.5333 24.1333"
                                                            stroke="#EAA451" stroke-width="2" stroke-miterlimit="10"
                                                            stroke-linecap="round" stroke-linejoin="round" />
                                                        <path d="M19.6 24H19.4667" stroke="#EAA451" stroke-width="2"
                                                            stroke-miterlimit="10" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                        <path d="M20.5334 24H20.4" stroke="#EAA451" stroke-width="2"
                                                            stroke-miterlimit="10" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                        <path
                                                            d="M12.6667 24.0001H6.66667C5.2 24.0001 4 22.8001 4 21.3334V9.33341C4 7.86675 5.2 6.66675 6.66667 6.66675H24C25.4667 6.66675 26.6667 7.86675 26.6667 9.33341V23.3334"
                                                            stroke="#EAA451" stroke-width="2" stroke-miterlimit="10"
                                                            stroke-linecap="round" stroke-linejoin="round" />
                                                        <path d="M8 10.6667H13.3333" stroke="#EAA451" stroke-width="2"
                                                            stroke-miterlimit="10" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                        <path d="M8 16H10.6667" stroke="#EAA451" stroke-width="2"
                                                            stroke-miterlimit="10" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                    </svg></span><span class="counter">7</span> <span
                                                    class="ms-2">Courses</span></h2>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Swiper Banner End-->

            <section class="content-inner-1 overlay-white-middle">
                <div class="container">
                    <div class="row about-style1 align-items-center">
                        <div class="col-lg-6 m-b30 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="row sp10 about-thumb">
                                <div class="col-sm-6 aos-item ">
                                    <div class="split-box">
                                        <div>
                                            <img class="m-b30"
                                                src="<%= process.env.GERGI_HOSTNAME %>assets/images/about/about1.webp"
                                                alt="/">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="split-box ">
                                        <div>
                                            <img class="m-b20 aos-item"
                                                src="<%= process.env.GERGI_HOSTNAME %>assets/images/about/about2.webp"
                                                alt="/">
                                        </div>
                                    </div>
                                    <div class="exp-bx aos-item">
                                        <div class="exp-head">
                                            <div class="counter-num">
                                                <h2><span class="counter">8</span><small>+</small></h2>
                                            </div>
                                            <h6 class="title">Years of Experience</h6>
                                        </div>
                                        <div class="exp-info">
                                            <ul class="list-check primary">
                                                <li>Optometry</li>
                                                <li>Engineering</li>
                                                <li>Entrepreneurship</li>
                                                <li>And more . . .</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 m-b30 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="about-content px-lg-4">
                                <div class="section-head style-1">
                                    <h2 class="title"> <span class="text-primary">Gergi</span> Is Best Choice <br /> For <span class="text-primary">Learners</span></h2>
                                    <p class="text m-b40">Gergi offers a smart service that helps you find the information you need, fast. Whether it's paid books, articles, or learning resources, Gergi guides you to free and accessible options online. It's the easiest way to get what you're looking for — because Gergi is the best choice for learners.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Partners -->
            <section class="content-inner-1">
                <div class="container">
                    <div class="section-head book-align">
                        <h2 class="title mb-0">Partners</h2>
                        <div class="pagination-align style-1">
                            <div class="swiper-button-prev"><i class="fa-solid fa-angle-left"></i></div>
                            <div class="swiper-pagination-two"></div>
                            <div class="swiper-button-next"><i class="fa-solid fa-angle-right"></i></div>
                        </div>
                    </div>
                    <div class="swiper-container books-wrapper-3 swiper-four overflow-hidden">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="books-card style-3 wow fadeInUp" data-wow-delay="0.1s">
                                    <div class="dz-media">
                                        <img src="<%= process.env.GERGI_HOSTNAME %>uploads/gergi/client-logo/national-university-official-logo.webp"
                                            alt="GERGI | National University">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="books-card style-3 wow fadeInUp" data-wow-delay="0.2s">
                                    <div class="dz-media">
                                        <img src="<%= process.env.GERGI_HOSTNAME %>uploads/gergi/client-logo/quezon-city-university-QCU-fficial-logo.jpg"
                                            alt="GERGI | Quezon City University">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="books-card style-3 wow fadeInUp" data-wow-delay="0.3s">
                                    <div class="dz-media">
                                        <img src="<%= process.env.GERGI_HOSTNAME %>uploads/gergi/client-logo/philippine-normal-university-logo.png"
                                            alt="GERGI | Philippine Norman University">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="books-card style-3 wow fadeInUp" data-wow-delay="0.4s">
                                    <div class="dz-media">
                                        <img src="<%= process.env.GERGI_HOSTNAME %>uploads/gergi/client-logo/department-of-health-logo.png"
                                            alt="GERGI | Department of Health">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="books-card style-3 wow fadeInUp" data-wow-delay="0.5s">
                                    <div class="dz-media">
                                        <img src="<%= process.env.GERGI_HOSTNAME %>uploads/gergi/client-logo/department-of-agriculture-logo.png"
                                            alt="GERGI | Department of Agriculture">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="books-card style-3 wow fadeInUp" data-wow-delay="0.6s">
                                    <div class="dz-media">
                                        <img src="<%= process.env.GERGI_HOSTNAME %>uploads/gergi/client-logo/department-of-finance.png"
                                            alt="GERGI | Department of Finance">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="books-card style-3 wow fadeInUp" data-wow-delay="0.6s">
                                    <div class="dz-media">
                                        <img src="<%= process.env.GERGI_HOSTNAME %>uploads/gergi/client-logo/philippine-national-police-logo.png"
                                            alt="GERGI | Philippine National Police">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Partners End -->
        </div>

        <%- include('../includes/script/script.ejs') %>