<%- include('../includes/head/head2.ejs') %>

	<div class="page-wraper">
		<div id="loading-area" class="preloader-wrapper-1">
			<div class="preloader-inner">
				<div class="preloader-shade"></div>
				<div class="preloader-wrap"></div>
				<div class="preloader-wrap wrap2"></div>
				<div class="preloader-wrap wrap3"></div>
				<div class="preloader-wrap wrap4"></div>
				<div class="preloader-wrap wrap5"></div>
			</div>
		</div>

	<!-- Header -->
    <%- include('../includes/header/header.ejs') %>
	<!-- Header End -->

		<div class="page-content">
			<!-- inner page banner -->
			<div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url(images/background/bg3.jpg);">
				<div class="container">
					<!-- <div class="dz-bnr-inr-entry">
						<h1>Login</h1>
						<nav aria-label="breadcrumb" class="breadcrumb-row">
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html"> Home</a></li>
								<li class="breadcrumb-item">Login</li>
							</ul>
						</nav>
					</div> -->
				</div>
			</div>
			<!-- inner page banner End-->
			
			<!-- contact area -->
			<section class="content-inner shop-account">
				<!-- Product -->
				<div class="container">
					<div class="row"  style="justify-content: center;">
						<div class="col-lg-6 col-md-6 mb-4">
							<div class="login-area">
								<div class="tab-content nav">
									<form action="javascript:void(0);" id="loginForm" class="tab-pane active col-12">
										<h4 class="text-secondary">LOGIN</h4>
										<p class="font-weight-600">No account yet? Please <a href="/registration">register</a>.</p>
										<div class="mb-4">
											<label class="label-title">E-MAIL ADDRESS *</label>
											<input name="dzName" required="" class="form-control" id="loginEmailAddress" placeholder="Email Address" type="email">
										</div>
										<div class="mb-4">
											<label class="label-title">PASSWORD *</label>
											<input name="dzName" required="" class="form-control" id="loginPassword" placeholder="Password" type="password">
										</div>
										<div class="text-center">
											<button class="btn btn-primary btnhover me-2" id="loginButton" >login</button>
										</div>
										<div class="text-center" style="margin-top: 20px;">
											<a data-bs-toggle="tab" href="shop-login.html#forgot-password" class="m-l5"><i class="fas fa-unlock-alt"></i> Forgot Password ?</a> 
										</div>
									</form>
									<form id="forgot-password" class="tab-pane fade  col-12">
										<h4 class="text-secondary">FORGET PASSWORD ?</h4>
										<p class="font-weight-600">We will send you an email to reset your password. </p>
										<div class="mb-3">
											<label class="label-title">E-MAIL ADDRESS *</label>
											<input name="dzName" required="" class="form-control" placeholder="Email Address" type="email">
										</div>
										<div class="text-left"> 
											<a class="btn btn-outline-secondary btnhover m-r10" data-bs-toggle="tab" href="shop-login.html#login">Back</a>
											<button class="btn btn-primary btnhover">Submit</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Product END -->
			</section>
			<!-- contact area End--> 
	</div>

		<!-- Footer -->
		<footer class="site-footer style-1">
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-xl-3 col-lg-12">
							<div class="widget widget_about">
								<div class="footer-logo logo-white">
									<a href="#"><img src="<%= process.env.GERGI_HOSTNAME %>assets/images/logo.png" alt=""></a> 
								</div>
								<p class="text">Bookland is a Book Store Ecommerce Website Template by DexignZone lorem ipsum dolor sit</p>
								<div class="dz-social-icon style-1">
									<ul>
										<li><a href="https://www.facebook.com/dexignzone" target="_blank" ><i class="fa-brands fa-facebook-f"></i></a></li>
										<li><a href="https://www.youtube.com/channel/UCGL8V6uxNNMRrk3oZfVct1g" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
										<li><a href="https://www.linkedin.com/showcase/3686700/admin/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
										<li><a href="https://www.instagram.com/website_templates__/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-4">
							<div class="widget widget_services">
								<h5 class="footer-title">Our Links</h5>
								<ul>
									<li><a href="about-us.html">About us</a></li>
									<li><a href="contact-us.html">Contact us</a></li>
									<li><a href="privacy-policy.html">Privacy Policy</a></li>
									<li><a href="pricing.html">Pricing Table</a></li>
									<li><a href="faq.html">FAQ</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-2 col-lg-3 col-sm-4 col-4">
							<div class="widget widget_services">
								<h5 class="footer-title">Bookland ?</h5>
								<ul>
									<li><a href="index.html">Bookland</a></li>
									<li><a href="services.html">Services</a></li>
									<li><a href="books-detail.html">Book Details</a></li>
									<li><a href="blog-detail.html">Blog Details</a></li>
									<li><a href="books-grid-view.html">Shop</a></li>
								</ul>   
							</div>
						</div>
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-4">
							<div class="widget widget_services">
								<h5 class="footer-title">Resources</h5>
								<ul>
									<li><a href="services.html">Download</a></li>
									<li><a href="help-desk.html">Help Center</a></li>
									<li><a href="shop-cart.html">Shop Cart</a></li>
									<li><a href="shop-login.html">Login</a></li>
									<li><a href="about-us.html">Partner</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
							<div class="widget widget_getintuch">
								<h5 class="footer-title">Get in Touch With Us</h5>
								<ul>
									<li>
										<i class="flaticon-placeholder"></i>
										<span>832  Thompson Drive, San Fransisco CA 94107,US</span>
									</li>
									<li>
										<i class="flaticon-phone"></i>
										<span>+123 345123 556<br>
										+123 345123 556</span>
									</li>
									<li>
										<i class="flaticon-email"></i> 
										<span>support@bookland.id<br>
										info@bookland.id</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer Top End -->
			
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container">
					<div class="row fb-inner">
						<div class="col-lg-6 col-md-12 text-start"> 
							<p class="copyright-text">Bookland Book Store Ecommerce Website - © <span class="current-year">2024</span> All Rights Reserved</p>
						</div>
						<div class="col-lg-6 col-md-12 text-end"> 
							<p>Made with <span class="heart"></span> by <a href="https://dexignzone.com/">DexignZone</a></p>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer Bottom End -->
			
		</footer>
		<!-- Footer End -->
		
		<button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>
	</div>
	
<!-- JAVASCRIPT FILES ========================================= -->

<script src="<%= process.env.GERGI_HOSTNAME %>javascript/global.js"></script>
<script src="<%= process.env.GERGI_HOSTNAME %>javascript/login.js"></script>
<%- include('../includes/script/script2.ejs') %>