<%- include('../includes/head/head.ejs') %>

<body class="text-base text-black font-nunito dark:text-white dark:bg-slate-900">

<%- include('../includes/nav/nav.ejs') %>


<!-- Start -->
<section class="relative py-16 md:py-24">
    <div class="container">
        <div class="grid lg:grid-cols-12 md:grid-cols-2 grid-cols-1 gap-[30px]">
            <div class="lg:col-span-3 md:col-span-5">
                <div class="flex items-center">
                    <img src="assets_2/images/client/05.jpg" class="rounded-full shadow size-16 dark:shadow-gray-800" alt="">
                    <div class="ms-2">
                        <p class="font-semibold text-slate-400">Hello,</p>
                        <h5 class="text-lg font-semibold">Federex Potolin</h5>
                    </div>
                </div>
            </div><!--end col-->

            <div class="lg:col-span-9 md:col-span-7">
                <p class="max-w-xl text-slate-400"></p>
            </div><!--end col-->

            <div class="lg:col-span-3 md:col-span-5">
                <div class="sticky top-20">
                    <ul class="p-6 bg-white rounded-md shadow flex-column dark:bg-slate-900 dark:shadow-gray-800" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
                        <li role="presentation" onclick="showResourceSetupDiv();">
                            <button class="w-full px-4 py-2 mt-3 text-base font-semibold duration-500 rounded-md text-start" id="resourcesetuppage-tab" data-tabs-target="#resourcesetuppage" type="button" role="tab" aria-controls="resourcesetuppage" aria-selected="false"><i class="uil uil-book text-[20px] me-2 align-middle"></i>Resource Setup</button>
                        </li>
                        <li role="presentation" onclick="showClassificationsDiv();">
                            <button class="w-full px-4 py-2 mt-3 text-base font-semibold duration-500 rounded-md text-start" id="classificationspage-tab" data-tabs-target="#classificationspage" type="button" role="tab" aria-controls="classificationspage" aria-selected="false"><i class="uil uil-book text-[20px] me-2 align-middle"></i>Classifications</button>
                        </li>
                        <li role="presentation" onclick="showOrganizationsDiv();">
                            <button class="w-full px-4 py-2 mt-3 text-base font-semibold duration-500 rounded-md text-start" id="organizationspage-tab" data-tabs-target="#organizationspage" type="button" role="tab" aria-controls="organizationspage" aria-selected="false"><i class="uil uil-book text-[20px] me-2 align-middle"></i>Organizations</button>
                        </li>
                        <li role="presentation" onclick="showDepartmentsDiv();">
                            <button class="w-full px-4 py-2 mt-3 text-base font-semibold duration-500 rounded-md text-start" id="departmentspage-tab" data-tabs-target="#departmentspage" type="button" role="tab" aria-controls="departmentspage" aria-selected="false"><i class="uil uil-book text-[20px] me-2 align-middle"></i>Departments</button>
                        </li>
                        <li role="presentation" onclick="showCoursesDiv();">
                            <button class="w-full px-4 py-2 mt-3 text-base font-semibold duration-500 rounded-md text-start" id="coursespage-tab" data-tabs-target="#coursespage" type="button" role="tab" aria-controls="coursespage" aria-selected="false"><i class="uil uil-book text-[20px] me-2 align-middle"></i>Courses</button>
                        </li>
                        <li role="presentation" onclick="showCategoriesDiv();">
                            <button class="w-full px-4 py-2 mt-3 text-base font-semibold duration-500 rounded-md text-start" id="categoriespage-tab" data-tabs-target="#categoriespage" type="button" role="tab" aria-controls="categoriespage" aria-selected="false"><i class="uil uil-book text-[20px] me-2 align-middle"></i>Categories</button>
                        </li>
                        <li role="presentation" onclick="showSubjectDiv();">
                            <button class="w-full px-4 py-2 mt-3 text-base font-semibold duration-500 rounded-md text-start" id="subjectspage-tab" data-tabs-target="#subjectspage" type="button" role="tab" aria-controls="subjectspage" aria-selected="false"><i class="uil uil-book text-[20px] me-2 align-middle"></i>Subjects</button>
                        </li>
                        <li role="presentation">
                            <a href="javascript:void(0);" class="w-full px-4 py-2 mt-3 text-base font-semibold duration-500 rounded-md text-start hover:bg-slate-50 dark:hover:bg-slate-800 hover:text-indigo-600 dark:hover:text-white" type="button"><i class="uil uil-sign-out-alt text-[20px] me-2 align-middle"></i> Logout</a>
                        </li>
                    </ul>
                </div>
            </div><!--end col-->


            <div class="lg:col-span-9 md:col-span-7">
                <div id="myTabContent" class="p-6 bg-white rounded-md shadow dark:bg-slate-900 dark:shadow-gray-800">
                    <!--ADD RESOURCES START-->
                    <div class="hidden" id="addresources" role="tabpanel" aria-labelledby="addresources-tab">
                        <h5 class="mb-4 text-lg font-semibold">Add Resources :</h5>
                        <form action="javascript:void(0);" class="text-start" method="POST" id="addBookForm" name="addBookForm" enctype="multipart/form-data" accept-charset="utf-8">

                            <div class="pb-10 ">
                                <div id="addBookSuccessMessage" class="hidden block px-4 py-2 font-medium text-white border rounded-md bg-emerald-600 border-emerald-600"></div>

                                <div id="addBookErrorMessage" class="relative hidden block px-4 py-2 font-medium text-white bg-red-600 border border-red-600 rounded-md"></div>
                            </div>

                            <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
                                <div>
                                    <label class="font-medium form-label">
                                        Title
                                        <span class="text-red-600">*</span>
                                    </label>
                                    <div class="relative mt-2 form-icon">
                                        <input type="text" class="w-full h-10 px-3 py-2 bg-transparent border border-gray-200 rounded outline-none form-input ps-12 dark:bg-slate-900 dark:text-slate-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0" placeholder="" id="title" name="title" required="">
                                    </div>
                                    <span id="titleError" class="text-red-600 error-message"></span>
                                </div>
                                <div>
                                    <label class="font-medium form-label">
                                        Download Link
                                        <span class="text-red-600">*</span>
                                    </label>
                                    <div class="relative mt-2 form-icon">
                                        <input type="text" class="w-full h-10 px-3 py-2 bg-transparent border border-gray-200 rounded outline-none form-input ps-12 dark:bg-slate-900 dark:text-slate-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0" placeholder="" id="download_link" name="download_link" required="">
                                    </div>
                                </div>
                                <div>
                                    <label class="font-medium form-label">
                                        ISBN
                                        <span class="text-red-600">*</span>
                                    </label>
                                    <div class="relative mt-2 form-icon">
                                        <input type="text" class="w-full h-10 px-3 py-2 bg-transparent border border-gray-200 rounded outline-none form-input ps-12 dark:bg-slate-900 dark:text-slate-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0" placeholder="" id="isbn" name="isbn" required="">
                                    </div>
                                </div>
                                <div>
                                    <label class="font-medium form-label">
                                        Image
                                        <span class="text-red-600">*</span>
                                    </label>
                                    <div class="relative mt-2 form-icon">
                                        <input type="file" class="w-full h-10 px-3 py-2 bg-transparent border border-gray-200 rounded outline-none form-input ps-12 dark:bg-slate-900 dark:text-slate-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0" placeholder="" id="file" name="file" required="">
                                    </div>
                                </div>
                            </div><!--end grid-->
                            <input type="submit" id="submit" name="submit" class="inline-block px-5 py-2 mt-5 text-base font-semibold tracking-wide text-center text-white align-middle duration-500 bg-indigo-600 border border-indigo-600 rounded-md hover:bg-indigo-700 hover:border-indigo-700" value="Submit">
                        </form><!--end form-->
                    </div>
                    <!--ADD RESOURCES END-->

                    <!--RESOURCE SETUP START-->
                    <div class="hidden" id="resourcesetuppage" role="tabpanel" aria-labelledby="resourcesetuppage-tab">
                        <div class="flex items-center justify-between p-6 border-b border-gray-100 dark:border-gray-800">
                            <h6 class="text-lg font-semibold">Resource Setup :</h6>
                            <div class="position-relative">
                                <a href="javascript:void(0);" class="inline-block px-5 py-2 text-base font-semibold tracking-wide text-center text-indigo-600 align-middle duration-500 bg-transparent border border-indigo-600 rounded-full hover:bg-indigo-600 hover:text-white" onclick="showAddResourcesDiv()">Add Resources</a>
                            </div>
                        </div>
                        <form action="javascript:void(0);" class="text-start" method="POST" id="" name="" enctype="multipart/form-data" accept-charset="utf-8">
                            <div class="grid grid-cols-1 gap-6 mt-6 lg:grid-cols-12">
                                <div class="xl:col-span-5 lg:col-span-12">
                                    <div class="relative overflow-hidden bg-white rounded-md shadow dark:shadow-gray-700 dark:bg-slate-900">

                                        <div class="relative overflow-x-auto block w-full max-h-[400px]" data-simplebar>
                                            <table class="w-full text-start">
                                                <thead class="text-base">
                                                    <tr>
                                                        <th class="text-start font-semibold text-[15px] p-4 min-w-[100px]">ID</th>
                                                        <th class="text-start font-semibold text-[15px] p-4 min-w-[128px]">Title</th>
                                                        <th class="text-start font-semibold text-[15px] p-4 min-w-[128px]">Author</th>
                                                        <th class="text-start font-semibold text-[15px] p-4 min-w-[128px]">ISBN</th>
                                                        <th class="text-end font-semibold text-[15px] p-4 min-w-[128px]">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="resources-table-body">
                                                    <!-- Table rows will be dynamically generated here -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </form><!--end form-->
                    </div>
                    <!--RESOURCE SETUP END-->

                    <!--UPDATE RESOURCES START-->
                    <div class="hidden" id="editresources" role="tabpanel" aria-labelledby="editresources-tab">
                        <h5 class="mb-4 text-lg font-semibold">Update Resources :</h5>
                        <form action="javascript:void(0);" class="text-start" method="POST" id="editResourcesForm" name="editResourcesForm" enctype="multipart/form-data" accept-charset="utf-8">

                            <div class="pb-10 ">
                                <div id="editResourcesSuccessMessage" class="hidden block px-4 py-2 font-medium text-white border rounded-md bg-emerald-600 border-emerald-600"></div>

                                <div id="editResourcesErrorMessage" class="relative hidden block px-4 py-2 font-medium text-white bg-red-600 border border-red-600 rounded-md"></div>
                            </div>

                            <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
                                <div>
                                    <label class="font-medium form-label">
                                        Title
                                        <span class="text-red-600">*</span>
                                    </label>
                                    <div class="relative mt-2 form-icon">
                                        <input type="text" class="w-full h-10 px-3 py-2 bg-transparent border border-gray-200 rounded outline-none form-input ps-12 dark:bg-slate-900 dark:text-slate-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0" placeholder="" id="update_title" name="update_title" required="">
                                    </div>

                                    <input type="text" class="hidden w-full h-10 px-3 py-2 bg-transparent border border-gray-200 rounded outline-none form-input ps-12 dark:bg-slate-900 dark:text-slate-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0" placeholder="" id="update_id" name="update_id" required="">
                                </div>
                                <div>
                                    <label class="font-medium form-label">
                                        Download Link
                                        <span class="text-red-600">*</span>
                                    </label>
                                    <div class="relative mt-2 form-icon">
                                        <input type="text" class="w-full h-10 px-3 py-2 bg-transparent border border-gray-200 rounded outline-none form-input ps-12 dark:bg-slate-900 dark:text-slate-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0" placeholder="" id="update_download_link" name="update_download_link" required="">
                                    </div>
                                </div>
                                <div>
                                    <label class="font-medium form-label">
                                        ISBN
                                        <span class="text-red-600">*</span>
                                    </label>
                                    <div class="relative mt-2 form-icon">
                                        <input type="text" class="w-full h-10 px-3 py-2 bg-transparent border border-gray-200 rounded outline-none form-input ps-12 dark:bg-slate-900 dark:text-slate-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0" placeholder="" id="update_isbn" name="update_isbn" required="">
                                    </div>
                                </div>
                                <div>
                                    <label class="font-medium form-label">
                                        Image
                                        <span class="text-red-600">*</span>
                                    </label>
                                    <div class="relative mt-2 form-icon">
                                        <input type="file" class="w-full h-10 px-3 py-2 bg-transparent border border-gray-200 rounded outline-none form-input ps-12 dark:bg-slate-900 dark:text-slate-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0" placeholder="" id="update_file" name="update_file" required="">
                                    </div>
                                </div>
                            </div><!--end grid-->
                            <input type="submit" id="submit" name="submit" class="inline-block px-5 py-2 mt-5 text-base font-semibold tracking-wide text-center text-white align-middle duration-500 bg-indigo-600 border border-indigo-600 rounded-md hover:bg-indigo-700 hover:border-indigo-700" value="Save">
                        </form><!--end form-->
                    </div>
                    <!--UPDATE RESOURCES END-->

                    <!-- RESOURCE SETUP START-->
                    <div class="hidden" id="resourcesetup" role="tabpanel" aria-labelledby="resourcesetup-tab">
                        <!-- <h5 class="mb-4 text-lg font-semibold">Resources Setup:</h5> -->
                        <div class="pb-10 text-left">
                            <h6 class="text-2xl font-bold" id="resourcesTitle">Resources</h6>
                            <p class="mt-2 text-slate-400">Set here who can access this resources.</p>
                        </div>

                        <div class="pb-10 ">
                            <div id="resourceSetupSuccessMessage" class="hidden block px-4 py-2 font-medium text-white border rounded-md bg-emerald-600 border-emerald-600"></div>

                            <div id="resourceSetupErrorMessage" class="relative hidden block px-4 py-2 font-medium text-white bg-red-600 border border-red-600 rounded-md"></div>
                        </div>

                        <form action="javascript:void(0);" class="text-start" method="POST" id="resourceSetupForm" name="resourceSetupForm" enctype="multipart/form-data" accept-charset="utf-8">
                            <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
                                <div>
                                    <label class="font-semibold">Classification</label>
                                    <select class="w-full h-10 px-3 py-2 mt-2 bg-transparent border border-gray-200 rounded outline-none form-select form-input dark:bg-slate-900 dark:text-slate-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0" id="classificationData">
                                    </select>

                                    <input type="text" class="hidden" placeholder="" id="resourceId" name="resourceId" required="">
                                </div>
                                <div>
                                    <label class="font-semibold">Organization</label>
                                    <select class="w-full h-10 px-3 py-2 mt-2 bg-transparent border border-gray-200 rounded outline-none form-select form-input dark:bg-slate-900 dark:text-slate-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0" id="organizationData">
                                    </select>
                                </div>
                                <div>
                                    <label class="font-semibold">Department</label>
                                    <select class="w-full h-10 px-3 py-2 mt-2 bg-transparent border border-gray-200 rounded outline-none form-select form-input dark:bg-slate-900 dark:text-slate-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0" id="departmentData">
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div>
                                    <label class="font-semibold">Courses</label>
                                    <select class="w-full h-10 px-3 py-2 mt-2 bg-transparent border border-gray-200 rounded outline-none form-select form-input dark:bg-slate-900 dark:text-slate-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0" id="courseData">
                                    </select>
                                </div>
                                <div>
                                    <label class="font-semibold">Categories</label>
                                    <select class="w-full h-10 px-3 py-2 mt-2 bg-transparent border border-gray-200 rounded outline-none form-select form-input dark:bg-slate-900 dark:text-slate-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0" id="categoryData">
                                    </select>
                                </div>
                                <div>
                                    <label class="font-semibold">Subjects</label>
                                    <select class="w-full h-10 px-3 py-2 mt-2 bg-transparent border border-gray-200 rounded outline-none form-select form-input dark:bg-slate-900 dark:text-slate-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0" id="subjectData">
                                    </select>
                                </div>
                            </div><!--end grid-->
                            <input type="submit" id="submit" name="submit" class="inline-block px-5 py-2 mt-5 text-base font-semibold tracking-wide text-center text-white align-middle duration-500 bg-indigo-600 border border-indigo-600 rounded-md hover:bg-indigo-700 hover:border-indigo-700" value="Save">
                        </form><!--end form-->
                    </div>
                    <!-- RESOURCE SETUP END-->

                    <!-- CLASSIFICATIONS START-->
                    <div class="hidden" id="classificationspage" role="tabpanel" aria-labelledby="classificationspage-tab">
                        <div class="flex items-center justify-between p-6 border-b border-gray-100 dark:border-gray-800">
                            <h6 class="text-lg font-semibold">Classifications :</h6>
                            <div class="position-relative">
                                <a href="javascript:void(0);" class="inline-block px-5 py-2 text-base font-semibold tracking-wide text-center text-indigo-600 align-middle duration-500 bg-transparent border border-indigo-600 rounded-full hover:bg-indigo-600 hover:text-white" onclick="showAddClassificationDiv()">Add Classification</a>
                            </div>
                        </div>
                        <form action="javascript:void(0);" class="text-start" method="POST" id="" name="" enctype="multipart/form-data" accept-charset="utf-8">
                            <div class="grid grid-cols-1 gap-6 mt-6 lg:grid-cols-12">
                                <div class="xl:col-span-5 lg:col-span-12">
                                    <div class="relative overflow-hidden bg-white rounded-md shadow dark:shadow-gray-700 dark:bg-slate-900">

                                        <div class="relative overflow-x-auto block w-full max-h-[400px]" data-simplebar>
                                            <table class="w-full text-start">
                                                <thead class="text-base">
                                                    <tr>
                                                        <th class="text-start font-semibold text-[15px] p-4 min-w-[100px]">ID</th>
                                                        <th class="text-start font-semibold text-[15px] p-4 min-w-[128px]">Title</th>
                                                        <th class="text-end font-semibold text-[15px] p-4 min-w-[128px]">Update</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="classifications-table-body">
                                                    <!-- Table rows will be dynamically generated here -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </form><!--end form-->
                    </div>
                    <!-- CLASSIFICATIONS START-->

                    <!--ADD CLASSIFICATIONS START-->
                    <div class="hidden" id="addclassification" role="tabpanel" aria-labelledby="addclassification-tab">
                        <h5 class="mb-4 text-lg font-semibold">Add Classification :</h5>
                        <form action="javascript:void(0);" class="text-start" method="POST" id="addClassificationForm" name="addClassificationForm" enctype="multipart/form-data" accept-charset="utf-8">

                            <div class="pb-10 ">
                                <div id="addClassificationSuccessMessage" class="hidden block px-4 py-2 font-medium text-white border rounded-md bg-emerald-600 border-emerald-600"></div>

                                <div id="addClassificationErrorMessage" class="relative hidden block px-4 py-2 font-medium text-white bg-red-600 border border-red-600 rounded-md"></div>
                            </div>

                            <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
                                <div>
                                    <label class="font-medium form-label">
                                        Classification Title
                                        <span class="text-red-600">*</span>
                                    </label>
                                    <div class="relative mt-2 form-icon">
                                        <input type="text" class="w-full h-10 px-3 py-2 bg-transparent border border-gray-200 rounded outline-none form-input ps-12 dark:bg-slate-900 dark:text-slate-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0" placeholder="" id="classificationTitle" name="classificationTitle" required="">
                                    </div>
                                    <span id="classificationTitleError" class="text-red-600 error-message"></span>
                                </div>
                            </div><!--end grid-->
                            <input type="submit" id="addClassificationSubmit" name="addClassificationSubmit" class="inline-block px-5 py-2 mt-5 text-base font-semibold tracking-wide text-center text-white align-middle duration-500 bg-indigo-600 border border-indigo-600 rounded-md hover:bg-indigo-700 hover:border-indigo-700" value="Submit">
                        </form><!--end form-->
                    </div>
                    <!--ADD CLASSIFICATIONS END-->

                    <!-- ORGANIZATIONS START-->
                    <div class="hidden" id="organizationspage" role="tabpanel" aria-labelledby="organizationspage-tab">
                        <div class="flex items-center justify-between p-6 border-b border-gray-100 dark:border-gray-800">
                            <h6 class="text-lg font-semibold">Organizations :</h6>
                            <div class="position-relative">
                                <a href="javascript:void(0);" class="inline-block px-5 py-2 text-base font-semibold tracking-wide text-center text-indigo-600 align-middle duration-500 bg-transparent border border-indigo-600 rounded-full hover:bg-indigo-600 hover:text-white" onclick="showAddOrganizationDiv()">Add Organization</a>
                            </div>
                        </div>
                        <form action="javascript:void(0);" class="text-start" method="POST" id="" name="" enctype="multipart/form-data" accept-charset="utf-8">
                            <div class="grid grid-cols-1 gap-6 mt-6 lg:grid-cols-12">
                                <div class="xl:col-span-5 lg:col-span-12">
                                    <div class="relative overflow-hidden bg-white rounded-md shadow dark:shadow-gray-700 dark:bg-slate-900">

                                        <div class="relative overflow-x-auto block w-full max-h-[400px]" data-simplebar>
                                            <table class="w-full text-start">
                                                <thead class="text-base">
                                                    <tr>
                                                        <th class="text-start font-semibold text-[15px] p-4 min-w-[100px]">ID</th>
                                                        <th class="text-start font-semibold text-[15px] p-4 min-w-[128px]">Title</th>
                                                        <th class="text-end font-semibold text-[15px] p-4 min-w-[128px]">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="organizations-table-body">
                                                    <!-- Table rows will be dynamically generated here -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </form><!--end form-->
                    </div>
                    <!-- ORGANIZATIONS END-->

                    <!--ADD ORGANIZATIONS START-->
                    <div class="hidden" id="addorganization" role="tabpanel" aria-labelledby="addorganization-tab">
                        <h5 class="mb-4 text-lg font-semibold">Add Organization :</h5>
                        <form action="javascript:void(0);" class="text-start" method="POST" id="addOrganizationForm" name="addOrganizationForm" enctype="multipart/form-data" accept-charset="utf-8">

                            <div class="pb-10 ">
                                <div id="addOrganizationSuccessMessage" class="hidden block px-4 py-2 font-medium text-white border rounded-md bg-emerald-600 border-emerald-600"></div>

                                <div id="addOrganizationErrorMessage" class="relative hidden block px-4 py-2 font-medium text-white bg-red-600 border border-red-600 rounded-md"></div>
                            </div>

                            <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
                                <div>
                                    <label class="font-medium form-label">
                                        Organization Title
                                        <span class="text-red-600">*</span>
                                    </label>
                                    <div class="relative mt-2 form-icon">
                                        <input type="text" class="w-full h-10 px-3 py-2 bg-transparent border border-gray-200 rounded outline-none form-input ps-12 dark:bg-slate-900 dark:text-slate-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0" placeholder="" id="organizationTitle" name="organizationTitle" required="">
                                    </div>
                                    <span id="organizationTitleError" class="text-red-600 error-message"></span>
                                </div>
                            </div><!--end grid-->
                            <input type="submit" id="addOrganizationSubmit" name="addOrganizationSubmit" class="inline-block px-5 py-2 mt-5 text-base font-semibold tracking-wide text-center text-white align-middle duration-500 bg-indigo-600 border border-indigo-600 rounded-md hover:bg-indigo-700 hover:border-indigo-700" value="Submit">
                        </form><!--end form-->
                    </div>
                    <!--ADD ORGANIZATIONS END-->

                    <!-- ORGANIZATIONS START-->
                    <div class="hidden" id="organizationspage" role="tabpanel" aria-labelledby="organizationspage-tab">
                        <div class="flex items-center justify-between p-6 border-b border-gray-100 dark:border-gray-800">
                            <h6 class="text-lg font-semibold">Organizations :</h6>
                            <div class="position-relative">
                                <a href="javascript:void(0);" class="inline-block px-5 py-2 text-base font-semibold tracking-wide text-center text-indigo-600 align-middle duration-500 bg-transparent border border-indigo-600 rounded-full hover:bg-indigo-600 hover:text-white" onclick="showAddOrganizationDiv()">Add Organization</a>
                            </div>
                        </div>
                        <form action="javascript:void(0);" class="text-start" method="POST" id="" name="" enctype="multipart/form-data" accept-charset="utf-8">
                            <div class="grid grid-cols-1 gap-6 mt-6 lg:grid-cols-12">
                                <div class="xl:col-span-5 lg:col-span-12">
                                    <div class="relative overflow-hidden bg-white rounded-md shadow dark:shadow-gray-700 dark:bg-slate-900">

                                        <div class="relative overflow-x-auto block w-full max-h-[400px]" data-simplebar>
                                            <table class="w-full text-start">
                                                <thead class="text-base">
                                                    <tr>
                                                        <th class="text-start font-semibold text-[15px] p-4 min-w-[100px]">ID</th>
                                                        <th class="text-start font-semibold text-[15px] p-4 min-w-[128px]">Title</th>
                                                        <th class="text-end font-semibold text-[15px] p-4 min-w-[128px]">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="organizations-table-body">
                                                    <!-- Table rows will be dynamically generated here -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </form><!--end form-->
                    </div>
                    <!-- ORGANIZATIONS END-->

                    <!-- DEPARTMENTS START-->
                    <div class="hidden" id="departmentspage" role="tabpanel" aria-labelledby="departmentspage-tab">
                        <div class="flex items-center justify-between p-6 border-b border-gray-100 dark:border-gray-800">
                            <h6 class="text-lg font-semibold">Departments :</h6>
                            <div class="position-relative">
                                <a href="javascript:void(0);" class="inline-block px-5 py-2 text-base font-semibold tracking-wide text-center text-indigo-600 align-middle duration-500 bg-transparent border border-indigo-600 rounded-full hover:bg-indigo-600 hover:text-white" onclick="showAddDepartmentDiv()">Add Department</a>
                            </div>
                        </div>
                        <form action="javascript:void(0);" class="text-start" method="POST" id="" name="" enctype="multipart/form-data" accept-charset="utf-8">
                            <div class="grid grid-cols-1 gap-6 mt-6 lg:grid-cols-12">
                                <div class="xl:col-span-5 lg:col-span-12">
                                    <div class="relative overflow-hidden bg-white rounded-md shadow dark:shadow-gray-700 dark:bg-slate-900">

                                        <div class="relative overflow-x-auto block w-full max-h-[400px]" data-simplebar>
                                            <table class="w-full text-start">
                                                <thead class="text-base">
                                                    <tr>
                                                        <th class="text-start font-semibold text-[15px] p-4 min-w-[100px]">ID</th>
                                                        <th class="text-start font-semibold text-[15px] p-4 min-w-[128px]">Title</th>
                                                        <th class="text-end font-semibold text-[15px] p-4 min-w-[128px]">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="departments-table-body">
                                                    <!-- Table rows will be dynamically generated here -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </form><!--end form-->
                    </div>
                    <!-- DEPARTMENTS END-->

                    <!-- COURSES START-->
                    <div class="hidden" id="coursespage" role="tabpanel" aria-labelledby="coursespage-tab">
                        <div class="flex items-center justify-between p-6 border-b border-gray-100 dark:border-gray-800">
                            <h6 class="text-lg font-semibold">Courses :</h6>
                            <div class="position-relative">
                                <a href="javascript:void(0);" class="inline-block px-5 py-2 text-base font-semibold tracking-wide text-center text-indigo-600 align-middle duration-500 bg-transparent border border-indigo-600 rounded-full hover:bg-indigo-600 hover:text-white" onclick="showAddCourseDiv()">Add Course</a>
                            </div>
                        </div>
                        <form action="javascript:void(0);" class="text-start" method="POST" id="" name="" enctype="multipart/form-data" accept-charset="utf-8">
                            <div class="grid grid-cols-1 gap-6 mt-6 lg:grid-cols-12">
                                <div class="xl:col-span-5 lg:col-span-12">
                                    <div class="relative overflow-hidden bg-white rounded-md shadow dark:shadow-gray-700 dark:bg-slate-900">

                                        <div class="relative overflow-x-auto block w-full max-h-[400px]" data-simplebar>
                                            <table class="w-full text-start">
                                                <thead class="text-base">
                                                    <tr>
                                                        <th class="text-start font-semibold text-[15px] p-4 min-w-[100px]">ID</th>
                                                        <th class="text-start font-semibold text-[15px] p-4 min-w-[128px]">Title</th>
                                                        <th class="text-end font-semibold text-[15px] p-4 min-w-[128px]">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="courses-table-body">
                                                    <!-- Table rows will be dynamically generated here -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </form><!--end form-->
                    </div>
                    <!-- COURSES END-->

                    <!-- CATEGORIES START-->
                    <div class="hidden" id="categoriespage" role="tabpanel" aria-labelledby="categoriespage-tab">
                        <div class="flex items-center justify-between p-6 border-b border-gray-100 dark:border-gray-800">
                            <h6 class="text-lg font-semibold">Categories :</h6>
                            <div class="position-relative">
                                <a href="javascript:void(0);" class="inline-block px-5 py-2 text-base font-semibold tracking-wide text-center text-indigo-600 align-middle duration-500 bg-transparent border border-indigo-600 rounded-full hover:bg-indigo-600 hover:text-white" onclick="showAddCategoryDiv()">Add Category</a>
                            </div>
                        </div>
                        <form action="javascript:void(0);" class="text-start" method="POST" id="" name="" enctype="multipart/form-data" accept-charset="utf-8">
                            <div class="grid grid-cols-1 gap-6 mt-6 lg:grid-cols-12">
                                <div class="xl:col-span-5 lg:col-span-12">
                                    <div class="relative overflow-hidden bg-white rounded-md shadow dark:shadow-gray-700 dark:bg-slate-900">

                                        <div class="relative overflow-x-auto block w-full max-h-[400px]" data-simplebar>
                                            <table class="w-full text-start">
                                                <thead class="text-base">
                                                    <tr>
                                                        <th class="text-start font-semibold text-[15px] p-4 min-w-[100px]">ID</th>
                                                        <th class="text-start font-semibold text-[15px] p-4 min-w-[128px]">Title</th>
                                                        <th class="text-end font-semibold text-[15px] p-4 min-w-[128px]">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="categories-table-body">
                                                    <!-- Table rows will be dynamically generated here -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </form><!--end form-->
                    </div>
                    <!-- CATEGORIES END-->

                    <!-- SUBJECT START-->
                    <div class="hidden" id="subjectspage" role="tabpanel" aria-labelledby="subjectspage-tab">
                        <div class="flex items-center justify-between p-6 border-b border-gray-100 dark:border-gray-800">
                            <h6 class="text-lg font-semibold">Subjects :</h6>
                            <div class="position-relative">
                                <a href="javascript:void(0);" class="inline-block px-5 py-2 text-base font-semibold tracking-wide text-center text-indigo-600 align-middle duration-500 bg-transparent border border-indigo-600 rounded-full hover:bg-indigo-600 hover:text-white" onclick="showAddSubjectDiv()">Add Subject</a>
                            </div>
                        </div>
                        <form action="javascript:void(0);" class="text-start" method="POST" id="" name="" enctype="multipart/form-data" accept-charset="utf-8">
                            <div class="grid grid-cols-1 gap-6 mt-6 lg:grid-cols-12">
                                <div class="xl:col-span-5 lg:col-span-12">
                                    <div class="relative overflow-hidden bg-white rounded-md shadow dark:shadow-gray-700 dark:bg-slate-900">

                                        <div class="relative overflow-x-auto block w-full max-h-[400px]" data-simplebar>
                                            <table class="w-full text-start">
                                                <thead class="text-base">
                                                    <tr>
                                                        <th class="text-start font-semibold text-[15px] p-4 min-w-[100px]">ID</th>
                                                        <th class="text-start font-semibold text-[15px] p-4 min-w-[128px]">Title</th>
                                                        <th class="text-end font-semibold text-[15px] p-4 min-w-[128px]">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="subjects-table-body">
                                                    <!-- Table rows will be dynamically generated here -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </form><!--end form-->
                    </div>
                    <!-- SUBJECT END-->
                </div>
            </div><!--end col-->
        </div><!--end grid-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->


<%- include('../includes/start_cookie_popup/start_cookie_popup.ejs') %>

<%- include('../includes/back_to_top/back_to_top.ejs') %>

<%- include('../includes/switcher/switcher.ejs') %>

<%- include('../includes/ltr_and_rtl_mode/ltr_and_rtl_mode.ejs') %>



<script src="<%= process.env.GERGI_HOSTNAME %>references/classifications.js"></script>
<script src="<%= process.env.GERGI_HOSTNAME %>references/organizations.js"></script>
<script src="<%= process.env.GERGI_HOSTNAME %>references/departments.js"></script>
<script src="<%= process.env.GERGI_HOSTNAME %>javascript/displaySuccessMessage.js"></script>
<script src="<%= process.env.GERGI_HOSTNAME %>javascript/displayErrorMessage.js"></script>
<script src="<%= process.env.GERGI_HOSTNAME %>javascript/resetErrorMessages.js"></script>
<script src="<%= process.env.GERGI_HOSTNAME %>javascript/admin/hide_show_field.js"></script>
<script src="<%= process.env.GERGI_HOSTNAME %>javascript/admin/resources.js"></script>
<script src="<%= process.env.GERGI_HOSTNAME %>javascript/admin/classifications.js"></script>
<script src="<%= process.env.GERGI_HOSTNAME %>javascript/admin/organizations.js"></script>
<script src="<%= process.env.GERGI_HOSTNAME %>javascript/admin/departments.js"></script>
<script src="<%= process.env.GERGI_HOSTNAME %>javascript/admin/course_titles.js"></script>
<script src="<%= process.env.GERGI_HOSTNAME %>javascript/admin/categories.js"></script>
<script src="<%= process.env.GERGI_HOSTNAME %>javascript/admin/subject_titles.js"></script>


<%- include('../includes/script/script.ejs') %>