<%- include('../includes/head/head1.ejs') %>
    <%- include('../includes/header/header.ejs') %>
        <div class="page-content bg-grey">
            <div class="content-inner-1 border-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="shop-filter">
                                <!-- <div class="d-flex justify-content-between">
                                    <h4 class="title">Filter Option</h4>
                                    <a href="javascript:void(0);" class="panel-close-btn"><i
                                            class="flaticon-close"></i></a>
                                </div> -->
                                <div class="widget d-flex align-items-center">
                                    <h4 class="widget-title mb-0">Filter Option</h4>
                                </div>
                                <div class="accordion accordion-filter" id="accordionExample">
                                    <div class="accordion-item">
                                        <button class="accordion-button collapsed" id="headingTwo" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseDepartments"
                                            aria-expanded="false" aria-controls="collapseDepartments">
                                            Departments
                                        </button>
                                        <div id="collapseDepartments" class="accordion-collapse collapse accordion-body"
                                            aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                            <div class="widget dz-widget_services" id="collapseDepartmentsContainer" >
                                                <!-- departments here -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <button class="accordion-button collapsed" id="headingTwo" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseCourse"
                                            aria-expanded="false" aria-controls="collapseCourse">
                                            Courses
                                        </button>
                                        <div id="collapseCourse" class="accordion-collapse collapse accordion-body"
                                            aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                            <div class="widget dz-widget_services" id="collapseCoursesContainer">
                                                 <!-- Courses here -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <button class="accordion-button collapsed" id="headingTwo" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseCategory"
                                            aria-expanded="false" aria-controls="collapseCategory">
                                            Categories
                                        </button>
                                        <div id="collapseCategory" class="accordion-collapse collapse accordion-body"
                                            aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                            <div class="widget dz-widget_services" id="collapseCategoriesContainer">
                                                <!-- Categories here -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <button class="accordion-button collapsed" id="headingTwo" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseSubjects"
                                            aria-expanded="false" aria-controls="collapseSubjects">
                                            Subjects
                                        </button>
                                        <div id="collapseSubjects" class="accordion-collapse collapse accordion-body"
                                            aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                            <div class="widget dz-widget_services" id="collapseSubjectsContainer">
                                                <!-- Subjects here -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row filter-buttons">
                                    <div>
                                        <a href="javascript:void(0);"
                                            class="btn btn-outline-secondary btnhover mt-3 d-block" id="resetFilterBtn">Reset Filter</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <div class="widget d-flex align-items-center">
                                <h4 class="widget-title mb-0">books</h4>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="mb-3">
                                    <form action="javascript:void(0);" id="searchForm" accept-charset="utf-8">
                                    <!-- <label for="exampleFormControlTextarea" class="form-label">Search:</label> -->
                                    <input type="text" class="form-control" name="searchKeyword" id="searchKeyword" placeholder="Search Book Here">
                                    </form>
                                </div>
                            </div>
                            <div class="filter-area m-b30">
                                <div class="grid-area">
                                    <div class="shop-tab">
                                        <ul class="nav text-center product-filter justify-content-end" role="tablist">

                                        </ul>
                                    </div>
                                </div>
                                <div class="category">

                                    <div class="form-group">

                                    </div>
                                </div>
                            </div>
                            <div class="acod-content collapse " id="collapseExample">
                                <div class="widget widget_services style-2">
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value="" id="productCheckBox01">
                                        <label class="form-check-label" for="productCheckBox01">
                                            Architecture
                                        </label>
                                    </div>
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value="" id="productCheckBox02">
                                        <label class="form-check-label" for="productCheckBox02">
                                            Art
                                        </label>
                                    </div>
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value="" id="productCheckBox03">
                                        <label class="form-check-label" for="productCheckBox03">
                                            Action
                                        </label>
                                    </div>
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value="" id="productCheckBox04">
                                        <label class="form-check-label" for="productCheckBox04">
                                            Biography & Autobiography
                                        </label>
                                    </div>
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value="" id="productCheckBox05">
                                        <label class="form-check-label" for="productCheckBox05">
                                            Body, Mind & Spirit
                                        </label>
                                    </div>
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value="" id="productCheckBox06">
                                        <label class="form-check-label" for="productCheckBox06">
                                            Business & Economics
                                        </label>
                                    </div>
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value="" id="productCheckBox07">
                                        <label class="form-check-label" for="productCheckBox07">
                                            Children Fiction
                                        </label>
                                    </div>
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value="" id="productCheckBox08">
                                        <label class="form-check-label" for="productCheckBox08">
                                            Children Non-Fiction
                                        </label>
                                    </div>
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value="" id="productCheckBox09">
                                        <label class="form-check-label" for="productCheckBox09">
                                            Comics & Graphic Novels
                                        </label>
                                    </div>
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="productCheckBox010">
                                        <label class="form-check-label" for="productCheckBox010">
                                            Cooking
                                        </label>
                                    </div>
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="productCheckBox011">
                                        <label class="form-check-label" for="productCheckBox011">
                                            Crafts & Hobbies
                                        </label>
                                    </div>
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="productCheckBox012">
                                        <label class="form-check-label" for="productCheckBox012">
                                            Design
                                        </label>
                                    </div>
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="productCheckBox013">
                                        <label class="form-check-label" for="productCheckBox013">
                                            Drama
                                        </label>
                                    </div>
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="productCheckBox014">
                                        <label class="form-check-label" for="productCheckBox014">
                                            Education
                                        </label>
                                    </div>
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="productCheckBox015">
                                        <label class="form-check-label" for="productCheckBox015">
                                            Family & Relationships
                                        </label>
                                    </div>
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="productCheckBox016">
                                        <label class="form-check-label" for="productCheckBox016">
                                            Fiction
                                        </label>
                                    </div>
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="productCheckBox017">
                                        <label class="form-check-label" for="productCheckBox017">
                                            Foreign Language Study
                                        </label>
                                    </div>
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="productCheckBox018">
                                        <label class="form-check-label" for="productCheckBox018">
                                            Games
                                        </label>
                                    </div>
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="productCheckBox019">
                                        <label class="form-check-label" for="productCheckBox019">
                                            Gardening
                                        </label>
                                    </div>
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="productCheckBox020">
                                        <label class="form-check-label" for="productCheckBox020">
                                            Health & Fitness
                                        </label>
                                    </div>
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="productCheckBox021">
                                        <label class="form-check-label" for="productCheckBox021">
                                            History
                                        </label>
                                    </div>
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="productCheckBox022">
                                        <label class="form-check-label" for="productCheckBox022">
                                            House & Home
                                        </label>
                                    </div>
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="productCheckBox023">
                                        <label class="form-check-label" for="productCheckBox023">
                                            Humor
                                        </label>
                                    </div>
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="productCheckBox024">
                                        <label class="form-check-label" for="productCheckBox024">
                                            Literary Collections
                                        </label>
                                    </div>
                                    <div class="form-check search-content">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="productCheckBox025">
                                        <label class="form-check-label" for="productCheckBox025">
                                            Mathematics
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row book-grid-row"  id="resourcesContainer"  style="--bs-gutter-x: 9px;">

                            </div>
                            <div class="row page mt-0">
                                <div class="col-md-6">
                                    <p class="page-text" id="showingXfromYdata"></p>
                                </div>
                                <div class="col-md-6">
                                    <nav aria-label="Blog Pagination">
                                        <ul class="pagination style-1 p-t20">
                                            <li class="page-item"><a class="page-link prev"
                                                    href="javascript:void(0);">Prev</a></li>
                                            <li class="page-item"><a class="page-link active"
                                                    href="javascript:void(0);">1</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a>
                                            </li>
                                            <li class="page-item"><a class="page-link next"
                                                    href="javascript:void(0);">Next</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





        </div>

        <script>
            // const organizationValue = `<%= data.organizationValue %>`;
            const sessionUserId = `<%= data.user_id %>`;
            const sessionName = `<%= data.name %>`;
            const sessionEmail = `<%= data.email %>`;
            const sessionUserType = `<%= data.user_type %>`;
            const sessionOrganizationId = `<%= data.organization_id %>`;

            // console.log(`fe sessionUserId ==>> `, sessionUserId);
            // console.log(`fe sessionName ==>> `, sessionName);
            // console.log(`fe sessionEmail ==>> `, sessionEmail);
            // console.log(`fe sessionUserType ==>> `, sessionUserType);
            // console.log(`fe sessionOrganizationId ==>> `, sessionOrganizationId);
        </script>

        <script src="<%= process.env.GERGI_HOSTNAME || process.env.GERGI_WWW_HOSTNAME %>javascript/resources.js"></script>
        <script src="<%= process.env.GERGI_HOSTNAME || process.env.GERGI_WWW_HOSTNAME %>javascript/resources-pagination.js"></script>
        <script src="<%= process.env.GERGI_HOSTNAME || process.env.GERGI_WWW_HOSTNAME %>javascript/resources-search.js"></script>
        <script src="<%= process.env.GERGI_HOSTNAME || process.env.GERGI_WWW_HOSTNAME %>javascript/resources-search-by-department.js"></script>
        <script src="<%= process.env.GERGI_HOSTNAME || process.env.GERGI_WWW_HOSTNAME %>javascript/resources-search-by-courses.js"></script>
        <script src="<%= process.env.GERGI_HOSTNAME || process.env.GERGI_WWW_HOSTNAME %>javascript/resources-search-by-categories.js"></script>
        <script src="<%= process.env.GERGI_HOSTNAME || process.env.GERGI_WWW_HOSTNAME %>javascript/resources-search-by-subjects.js"></script>
        <script src="<%= process.env.GERGI_HOSTNAME || process.env.GERGI_WWW_HOSTNAME %>javascript/resources-save-favorite.js"></script>



        <%- include('../includes/script/script1.ejs') %>