<%- include('../includes/head/head.ejs') %>

    <body class="text-base text-black font-nunito dark:text-white dark:bg-slate-900">
        <!-- Loader Start -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
        <!-- Loader End -->


        <%- include('../includes/nav/nav.ejs') %>

        <!-- Start Hero -->
        <section class="relative table w-full py-20 lg:py-24 bg-gray-50 dark:bg-slate-800">
            <div class="container relative">
                <div class="grid grid-cols-1 mt-14">
                    <h3 class="text-3xl font-semibold leading-normal">Resources</h3>
                </div><!--end grid-->

                <div class="relative mt-3">
                    <ul class="tracking-[0.5px] mb-0 inline-block">
                        <li class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out hover:text-indigo-600"><a href="/">Home</a></li>
                        <li id="organization-angle-right" class="text-base text-slate-950 dark:text-white mx-0.5 ltr:rotate-0 rtl:rotate-180"><i class="uil uil-angle-right-b"></i></li>
                        <li id="organization-title" class="inline-block uppercase text-[13px] font-bold text-indigo-600" aria-current="page">
                            <!-- National University -->
                        </li>
                        <li id="department-angle-right"  class="inline-block text-base text-slate-950 dark:text-white mx-0.5 ltr:rotate-0 rtl:rotate-180"><i class="uil uil-angle-right-b"></i></li>
                        <li id="department-title" class="inline-block uppercase text-[13px] font-bold text-indigo-600" aria-current="page">
                            <!-- College of Optometry -->
                        </li>
                        <li id="course-angle-right" class="inline-block text-base text-slate-950 dark:text-white mx-0.5 ltr:rotate-0 rtl:rotate-180"><i class="uil uil-angle-right-b"></i></li>
                        <li id="course-title" class="inline-block uppercase text-[13px] font-bold text-indigo-600" aria-current="page">
                            <!-- Optometry -->
                        </li>
                    </ul>
                </div>
            </div><!--end container-->
        </section><!--end section-->
        <!-- End Hero -->

        <!-- Start -->
        <section class="relative py-16 md:py-24">
            <div class="container">
                <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
                    <div class="lg:col-span-4 md:col-span-6">
                        <div class="sticky p-6 bg-white rounded-md shadow dark:shadow-gray-800 dark:bg-slate-900 top-20">
                            <form action="javascript:void(0);" class="text-start" method="POST" id="searchForm" name="searchForm" enctype="multipart/form-data" accept-charset="utf-8">
                                <div class="grid grid-cols-1 gap-3">
                                    <div>
                                        <label for="searchInput" class="hidden font-semibold"></label>
                                        <div class="relative">
                                            <i data-feather="search" class="absolute size-4 top-3 start-3"></i>

                                            <input name="searchInput" id="searchInput" type="text" class="w-full h-10 px-3 py-2 bg-transparent border border-gray-200 rounded outline-none form-input ps-9 dark:bg-slate-900 dark:text-slate-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0" placeholder="Search">
                                        </div>
                                    </div>

                                    <div>
                                        <label class="font-semibold">Categories</label>
                                        <div id="categoriesContainer">

                                        </div>
                                    </div>

                                    <div>
                                        <label class="font-semibold">Resource Type</label>
                                        <div id="resourceTypeContainer">

                                        </div>
                                    </div>

                                    <!-- <div class="mt-2">
                                        <input type="submit" class="inline-block w-full px-5 py-2 text-base tracking-wide text-center text-white align-middle duration-500 bg-indigo-600 border border-indigo-600 rounded-md hover:bg-indigo-700 hover:border-indigo-700" value="Apply Filter">
                                    </div> -->
                                </div>
                            </form>
                        </div>
                    </div><!--end col-->

                    <div class="lg:col-span-8 md:col-span-6">
                        <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">
                            <div class="lg:col-span-9 md:col-span-8">
                                <h3 class="text-xl font-semibold leading-normal">Showing 1-8 of 16 results</h3>
                            </div>

                            <div class="lg:col-span-3 md:col-span-4 md:text-end">
                                <label class="hidden font-semibold"></label>
                                <select class="w-full h-10 px-3 py-2 bg-transparent border border-gray-200 rounded outline-none form-select form-input dark:bg-slate-900 dark:text-slate-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0">
                                    <option selected>Sort by latest</option>
                                    <option>Sort by popularity</option>
                                    <option>Sort by rating</option>
                                </select>
                            </div>
                        </div><!--end grid-->

                        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-8 gap-[30px]"
                            id="resourcesContainer"
                        >

                        </div><!--end grid-->
                    </div>
                </div>
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->



        <%- include('../includes/footer/footer.ejs') %>

        <%- include('../includes/start_cookie_popup/start_cookie_popup.ejs') %>

        <%- include('../includes/back_to_top/back_to_top.ejs') %>

        <%- include('../includes/switcher/switcher.ejs') %>

        <%- include('../includes/ltr_and_rtl_mode/ltr_and_rtl_mode.ejs') %>

        <script>
            const fullName = `<%= data.fullName %>`;
            const departmentId = `<%= data.departmentId %>`;
            const organizationId = `<%= data.organizationId %>`;
            const departmentTitle = `<%= data.departmentTitle %>`;
            const courseValue = `<%= data.courseValue %>`;


            console.log('fullName : ', fullName)
            console.log('organizationId : ', organizationId)
            console.log('departmentId : ', departmentId)
            console.log('departmentTitle : ', departmentTitle)
            console.log('courseValue : ', courseValue)
        </script>


        <script src="<%= process.env.GERGI_HOSTNAME %>javascript/convertToTitleCase.js"></script>
        <script src="<%= process.env.GERGI_HOSTNAME %>javascript/slugilize.js"></script>
        <script src="<%= process.env.GERGI_HOSTNAME %>references/organizations.js"></script>
        <script src="<%= process.env.GERGI_HOSTNAME %>references/formats.js"></script>
        <script src="<%= process.env.GERGI_HOSTNAME %>javascript/resources.js"></script>

<%- include('../includes/script/script.ejs') %>