<style>
    .hidden {
        display: none;
    }
</style>

<!-- Header -->
<header class="site-header mo-left header style-1">
    <!-- Main Header -->
    <div class="header-info-bar">
        <div class="container clearfix">
            <!-- Website Logo -->
            <div class="logo-header logo-dark">
                <a href="/login"><img src="<%= process.env.GERGI_HOSTNAME %>uploads/gergi/logo/Global-E-library-logo-orange-black.png" alt="logo"></a>
            </div>

            <!-- EXTRA NAV -->
            <div class="extra-nav">
				<div class="extra-cell">
					<ul class="navbar-nav header-right">
						<li class="nav-item dropdown profile-dropdown  ms-4">
                                <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                        <img src="" id="headerCurrentImage1" alt="" >
                                        <div class="profile-info">
                                            <h6 class="title" id="headerCurrentName1"></h6>
                                            <span  id="headerCurrentEmail1"></span>
                                        </div>
                                </a>
							<!-- <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<img src="images/profile1.jpg" alt="/">
								<div class="profile-info">
									<h6 class="title">Brian</h6>
									<span>info@gmail.com</span>
								</div>
							</a> -->
							<div class="dropdown-menu py-0 dropdown-menu-end" id="headerCurrentUser2">
                                <div class="dropdown-header">
                                    <h6 class="m-0" id="headerCurrentName2"></h6>
                                    <span id="headerCurrentEmail2"></span>
                                </div>
                                <div class="dropdown-footer">
                                    <a class="btn btn-primary w-100 btnhover btn-sm" href="/logout">Log Out</a>
                                </div>
                            </div>
						</li>
					</ul>
				</div>
			</div>
        </div>
    </div>
    <!-- Main Header End -->

    <!-- Main Header -->
    <div class="sticky-header main-bar-wraper navbar-expand-lg">
        <div class="main-bar clearfix">
            <div class="container clearfix">
                <!-- Website Logo -->
                <div class="logo-header logo-dark">
                    <a href="/login"><img src="<%= process.env.GERGI_HOSTNAME %>uploads/gergi/logo/Global-E-library-logo-orange-black.png" alt="logo"></a>
                </div>

                <!-- Nav Toggle Button -->
                <button class="navbar-toggler collapsed navicon justify-content-end" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                <!-- EXTRA NAV -->
                <div class="extra-nav">
                    <div class="extra-cell">
                        <a href="/login" class="btn btn-primary btnhover" id="headerButtonLogin">Login</a>
                    </div>
                </div>

                <!-- Main Nav -->
                <div class="header-nav navbar-collapse collapse justify-content-start" id="navbarNavDropdown">
                    <div class="logo-header logo-dark">
                        <a href="/login"><img src="<%= process.env.GERGI_HOSTNAME %>uploads/gergi/logo/Global-E-library-logo-orange-black.png" alt=""></a>
                    </div>
                    <form class="search-input">
                        <div class="input-group">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button"
                                placeholder="Search Books Here">
                            <button class="btn" type="button"><i class="flaticon-loupe"></i></button>
                        </div>
                    </form>
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <% if (data.organization_id) { %>
                        <li><a href="/library">Library</a></li>
                        <li><a href="/favorites">Favorites</a></li>
                        <li><a href="/request">Request</a></li>
                        <% } %>
                    </ul>
                    </ul>
                    <div class="dz-social-icon">
                        <ul>
                            <li><a class="fab fa-facebook-f" target="_blank"
                                    href="https://www.facebook.com/potolin.federex"></a></li>
                            <li><a class="fab fa-twitter" target="_blank" href="https://www.facebook.com/potolin.federex"></a>
                            </li>
                            <li><a class="fab fa-linkedin-in" target="_blank"
                                    href="https://www.linkedin.com/in/federex-potolin/"></a></li>
                            <li><a class="fab fa-instagram" target="_blank"
                                    href="https://www.facebook.com/potolin.federex"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Header End -->

    <script>
        const sessionNameHeader = `<%= data.name %>`;
        const sessionEmailHeader = `<%= data.email %>`;
        const sessionUserTypeHeader = `<%= data.user_type %>`;
        const sessionOrganizationIdHeader = `<%= data.organization_id %>`;
        const sessionimageUrldHeader = `<%= data.image_url %>`;

        const headerButtonLogin = getId('headerButtonLogin');
        // const headerCurrentUser1 = getId('headerCurrentUser1');
        const headerCurrentUser2 = getId('headerCurrentUser2');

        if (sessionOrganizationIdHeader) {
            getId('headerCurrentName1').innerHTML = sessionNameHeader;
            getId('headerCurrentEmail1').innerHTML = sessionEmailHeader;
            getId('headerCurrentName2').innerHTML = sessionNameHeader;
            getId('headerCurrentEmail2').innerHTML = sessionEmailHeader;
            getId("headerCurrentImage1").src = `<%= process.env.GERGI_HOSTNAME %>uploads/gergi/client-logo/${sessionimageUrldHeader}`;

            headerButtonLogin.classList.add('hidden')
            // headerCurrentUser1.classList.remove('hidden')
            headerCurrentUser2.classList.remove('hidden')
        } else {
            headerButtonLogin.classList.remove('hidden')
            // headerCurrentUser1.classList.add('hidden')
            headerCurrentUser2.classList.add('hidden')
        }
    </script>
</header>
<!-- Header End -->