<%- include('../includes/head/head2.ejs') %>

	<div class="page-wraper">
		<div id="loading-area" class="preloader-wrapper-1">
			<div class="preloader-inner">
				<div class="preloader-shade"></div>
				<div class="preloader-wrap"></div>
				<div class="preloader-wrap wrap2"></div>
				<div class="preloader-wrap wrap3"></div>
				<div class="preloader-wrap wrap4"></div>
				<div class="preloader-wrap wrap5"></div>
			</div>
		</div>

	<!-- Header -->
    <%- include('../includes/header/header.ejs') %>
	<!-- Header End -->

		<div class="page-content">
			<!-- inner page banner -->
			<div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url(uploads/gergi/login/bg3.jpg);">
				<div class="container">
				</div>
			</div>
			<!-- inner page banner End-->
			
			<!-- contact area -->
			<section class="content-inner shop-account">
				<!-- Product -->
				<div class="container">
					<div class="row"  style="justify-content: center;">
						<div class="col-lg-6 col-md-6 mb-4">
							<div class="login-area">
								<div class="tab-content nav">
									<form action="javascript:void(0);" id="registrationForm" class="tab-pane active col-12">
										<h4 class="text-secondary">REGISTRATION</h4>
										<p class="font-weight-600">If you have an account with us, please <a href="/login">log in.</a> </p>
										<div class="mb-4">
											<label class="label-title">FULLNAME *</label>
											<input name="dzName" required="" class="form-control" id="registrationFullname" placeholder="Fullname" type="input">
										</div>
                                        <div class="mb-4">
											<label class="label-title">MOBILE NUMBER *</label>
											<input name="dzName" required="" class="form-control" id="registrationMobileNumber" placeholder="Mobile Number" type="input">
										</div>
                                        <div class="mb-4">
											<label class="label-title">E-MAIL ADDRESS *</label>
											<input name="dzName" required="" class="form-control" id="registrationEmailAddress" placeholder="Email Address" type="email">
										</div>
										<div class="mb-4">
											<label class="label-title">PASSWORD *</label>
											<input name="dzName" required="" class="form-control" id="registrationPassword" placeholder="Password" type="password">
										</div>
										<div class="text-center">
											<button class="btn btn-primary btnhover me-2" id="registrationButton" >Submit</button>
										</div>
										<div class="text-center" style="margin-top: 20px;">
											<a data-bs-toggle="tab" href="shop-login.html#forgot-password" class="m-l5"><i class="fas fa-unlock-alt"></i> Forgot Password ?</a> 
										</div>
									</form>
									<form id="forgot-password" class="tab-pane fade  col-12">
										<h4 class="text-secondary">FORGET PASSWORD ?</h4>
										<p class="font-weight-600">We will send you an email to reset your password. </p>
										<div class="mb-3">
											<label class="label-title">E-MAIL ADDRESS *</label>
											<input name="dzName" required="" class="form-control" placeholder="Email Address" type="email">
										</div>
										<div class="text-left"> 
											<a class="btn btn-outline-secondary btnhover m-r10" data-bs-toggle="tab" href="shop-login.html#login">Back</a>
											<button class="btn btn-primary btnhover">Submit</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Product END -->
			</section>
			<!-- contact area End--> 
	</div>

		<!-- Footer -->
		<%- include('../includes/footer/footer.ejs') %>
		<!-- Footer End -->
		
		<button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>
	</div>
	
<!-- JAVASCRIPT FILES ========================================= -->

<script src="<%= process.env.GERGI_HOSTNAME %>javascript/registration.js"></script>
<%- include('../includes/script/script2.ejs') %>