<!DOCTYPE html>
<html lang="en" class="light scroll-smooth" dir="ltr">

<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="gergi" />
    <meta name="website" content="https://gergi.ph/">
    <meta name="email" content="support@shreethemes.in">
    <meta name="version" content="3.0.0">
    <meta name="robots" content="" />
    <meta name="description" content="gergi" />
    <meta property="og:title" content="gergi" />
    <meta property="og:description" content="gergi" />
    <meta property="og:image" content="https://bookland.dexignzone.com/xhtml/social-image.png" />
    <meta name="format-detection" content="telephone=no">



    <script>
        const baseUrl = '<%= process.env.GERGI_HOSTNAME %>';
    </script>

    <!-- FAVICONS ICON -->
    <link rel="icon" type="image/x-icon" href="<%= process.env.GERGI_HOSTNAME %>assets/images/favicon.png" />

    <!-- PAGE TITLE HERE -->
    <title>gergi</title>

    <!-- MOBILE SPECIFIC -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="<%= process.env.GERGI_HOSTNAME %>assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="<%= process.env.GERGI_HOSTNAME %>assets/icons/fontawesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="<%= process.env.GERGI_HOSTNAME %>assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">


    <!-- GOOGLE FONTS-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>