<!DOCTYPE html>
<html lang="en" class="light scroll-smooth" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>GERGI : Global e-Library Resource Group Inc.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Tailwind CSS Multipurpose Landing & Admin Dashboard Template">
        <meta name="keywords" content="agency, application, business, clean, creative, cryptocurrency, it solutions, modern, multipurpose, nft marketplace, portfolio, saas, software, tailwind css">
        <meta name="author" content="Shreethemes">
        <meta name="website" content="https://shreethemes.in">
        <meta name="email" content="support@shreethemes.in">
        <meta name="version" content="2.2.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <script>
            const baseUrl = '<%= process.env.GERGI_HOSTNAME %>';
        </script>

        <script src="<%= process.env.GERGI_HOSTNAME %>javascript/global.js"></script>

        <!-- favicon -->
        <link rel="shortcut icon" href="<%= process.env.GERGI_HOSTNAME %>uploads/gergi/favicon_io/favicon.ico">

        <!-- Css -->
        <link href="<%= process.env.GERGI_HOSTNAME %>assets_2/libs/tiny-slider/tiny-slider.css" rel="stylesheet">
        <!-- Main Css -->
        <link href="<%= process.env.GERGI_HOSTNAME %>assets_2/libs/@iconscout/unicons/css/line.css" type="text/css" rel="stylesheet">
        <link href="<%= process.env.GERGI_HOSTNAME %>assets_2/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="<%= process.env.GERGI_HOSTNAME %>assets_2/css/tailwind.min.css">

    </head>