<%- include('../includes/head/head1.ejs') %>
    <%- include('../includes/header/header.ejs') %>
        <div class="page-content bg-grey">
            <div class="content-inner-1 border-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-2"></div>
                        <div class="col-xl-8">
                            <div class="widget d-flex align-items-center">
                                <h4 class="widget-title mb-0">favorite books</h4>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="mb-3">
                                    <form action="javascript:void(0);" id="searchForm" accept-charset="utf-8">
                                    <!-- <label for="exampleFormControlTextarea" class="form-label">Search:</label> -->
                                    <input type="text" class="form-control" name="searchKeyword" id="searchKeyword" placeholder="Search save favorite books">
                                    </form>
                                </div>
                            </div>
                            <div class="filter-area m-b30">
                                <div class="grid-area">
                                    <div class="shop-tab">
                                        <ul class="nav text-center product-filter justify-content-end" role="tablist">

                                        </ul>
                                    </div>
                                </div>
                                <div class="category">
                                    <div class="form-group">
                                    </div>
                                </div>
                            </div>
                            <div class="row book-grid-row"  id="resourcesContainer"  style="--bs-gutter-x: 9px;">
                            </div>
                            <div class="row page mt-0">
                                <div class="col-md-6">
                                    <p class="page-text" id="showingXfromYdata"></p>
                                </div>
                                <div class="col-md-6">
                                    <nav aria-label="Blog Pagination">
                                        <ul class="pagination style-1 p-t20">
                                            <li class="page-item"><a class="page-link prev"
                                                    href="javascript:void(0);">Prev</a></li>
                                            <li class="page-item"><a class="page-link active"
                                                    href="javascript:void(0);">1</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a>
                                            </li>
                                            <li class="page-item"><a class="page-link next"
                                                    href="javascript:void(0);">Next</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2"></div>
                    </div>
                </div>
            </div>





        </div>

        <script>
            // const organizationValue = `<%= data.organizationValue %>`;
            const sessionUserId = `<%= data.user_id %>`;
            const sessionName = `<%= data.name %>`;
            const sessionEmail = `<%= data.email %>`;
            const sessionUserType = `<%= data.user_type %>`;
            const sessionOrganizationId = `<%= data.organization_id %>`;

            console.log(`fe sessionUserId ==>> `, sessionUserId);
            // console.log(`fe sessionName ==>> `, sessionName);
            // console.log(`fe sessionEmail ==>> `, sessionEmail);
            console.log(`fe sessionUserType ==>> `, sessionUserType);
            // console.log(`fe sessionOrganizationId ==>> `, sessionOrganizationId);
        </script>

        <script src="<%= process.env.GERGI_HOSTNAME || process.env.GERGI_WWW_HOSTNAME %>javascript/favorites.js"></script>



        <%- include('../includes/script/script1.ejs') %>